{% extends "notifications/base_notifications.html" %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{% url 'notifications:mark_all_as_read' %}">Marquer toutes les notifications comme lues</a></li>{% endblock %}

{% block title %}Marquer toutes les notifications comme lues | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Mark all notifications as read -->
    <div class="col-md-12">

        <h1>Marquer toutes les notifications comme lues</h1>
        <p>Etes-vous sûr de vouloir faire cela ?</p>

        <!-- Confirmation form -->
        <form method="post" action="{% url 'notifications:mark_all_as_read' %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Marquer toutes les notifications comme lues"/>
        </form>
    </div>
{% endblock %}