{% extends "staticpages/base_staticpages.html" %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{% url 'staticpages:cookies_usage' %}">Informations sur les cookies</a></li>{% endblock %}

{% block title %}Informations sur les cookies | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Cookies usage -->
    <div class="col-md-12">

        <h1>Informations sur les cookies</h1>

        <h2>Qu'est-ce qu'un cookie ?</h2>

        <p class="text-justify">Un cookie est un petit fichier texte déposé sur le disque dur de votre ordinateur par un site web lorsque vous visitez celui-ci.
            Un cookie peut contenir diverses informations que le site web que vous visitez peut lire et modifier à volonté.
            Les cookies sont généralement conservés après la fermeture de votre navigateur web.</p>

        <p class="text-justify">Un cookie peut être utilisé pour diverses raisons.
            Les cookies sont généralement utilisés pour stocker des informations propres à votre utilisation du site, comme la langue,
            un panier d'achats, ou encore un identifiant de session pour vous permettre d'être connecté sur votre compte.
            Certains cookies, comme ceux utilisés pour les publicités par exemple, servent d'identifiant unique pour
            reconnaître un internaute d'une visite à une autre.</p>


        <h2>Qu'en est-il de l'utilisation des cookies sur le site Carnet du Maker ?</h2>

        <p class="text-justify">Sur le site Carnet du Maker, nous n'utilisons qu'un seul cookie : celui servant d'identifiant de session.</p>

        <p class="text-justify">Ce cookie nous permet de vous garder connecté à votre compte utilisateur et ainsi de bénéficier des fonctionnalités avancées fournies par le site,
            comme les notifications, les messages privés, le forum, etc. Ce cookie permet aussi aux utilisateurs non connectés de bénéficier de
            fonctionnalités comme le panier sur la boutique.</p>

        <p class="text-justify">En aucun cas ce cookie n'est utilisé à des fins d'analyse comportementale.</p>

        <p class="text-justify">Vous pouvez donc naviguer sur le site Carnet du Maker l'esprit léger,
            sans vous soucier des trackers publicitaires, des sondes d'analyse comportementale ou des boutons de réseaux sociaux.
            Rien de tout cela n'est en œuvre sur le site Carnet du Maker. La vie privée de nos lecteurs passe avant tout !</p>


        <h2>Comment supprimer les cookies ?</h2>

        <p class="text-justify">Si vous souhaitez supprimer tous les cookies stockés par votre navigateur, suivez les instructions fournies dans les liens ci-dessous :</p>
        <ul>
            <li>Pour Firefox : <a href="https://support.mozilla.org/fr/kb/effacer-cookies-supprimer-infos-sites-enregistrees">https://support.mozilla.org/fr/kb/effacer-cookies-supprimer-infos-sites-enregistrees</a></li>
            <li>Pour Chrome : <a href="https://support.google.com/accounts/answer/32050?hl=fr">https://support.google.com/accounts/answer/32050?hl=fr</a></li>
            <li>Pour Internet Explorer : <a href="http://windows.microsoft.com/fr-fr/internet-explorer/delete-manage-cookies#ie=ie-11">http://windows.microsoft.com/fr-fr/internet-explorer/delete-manage-cookies#ie=ie-11</a></li>
        </ul>

        <p class="text-justify">Attention, si vous étiez connecté au site, en supprimant les cookies de votre navigateur,
            vous serez de fait déconnecté du site. Il faudra donc vous reconnecter pour bénéficier des fonctionnalités avancées du site.


        <h2>Je n’ai rien compris à cette histoire de cookies &hellip; c'est grave docteur ?</h2>

        <p class="text-justify">La CNIL a réalisé une petite vidéo explicative qui résume pas mal de chose au sujet des cookies :</p>

        <iframe class="center-block" width="560" height="315" src="https://www.youtube.com/embed/Ij9EkAQzVvM" frameborder="0" allowfullscreen></iframe>


        <h2>C'est quoi le meilleur type de cookies ?</h2>

        <p class="text-justify">Les crispy cookies, double chocolat noir, avec éclats de chocolat par dessus, sans hésiter.</p>
    </div>
{% endblock %}