{% extends "staticpages/base_staticpages.html" %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{% url 'staticpages:faq' %}">Foire aux questions</a></li>{% endblock %}

{% block title %}Foire aux questions | {{ block.super }}{% endblock %}

{% block content %}

    <!-- FAQ -->
    <div class="col-md-12">

        <h1>Foire aux questions</h1>


        <h2>Pourquoi cette FAQ ?</h2>

        <p class="text-justify">Parce que répéter la même chose continuellement devient vite fatigant pour tout le monde à la longue.
            L'idée est simple : à chaque fois qu'une question en lien direct avec le site est posée, la question et sa réponse sont ajoutées dans cette FAQ.</p>

        <p class="text-justify">N.B. À chaque fois que quelqu'un pose une question dont la réponse se trouve déjà dans cette FAQ, un mignon petit chaton meurt quelque part sur terre.
            C'est un fait scientifique avéré. Prenez donc le temps de lire cette FAQ avant d'envoyer un email à l'administrateur du site. Merci.</p>

        <p class="text-justify"><small>PS Non. L'histoire des chatons n'est pas vraie.
            C'est une blague de mauvais goût visant à éviter à l'administrateur du site de recevoir continuellement les mêmes questions par email.</small></p>


        <h2>Questions diverses</h2>

        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseContactWebmaster">Comment contacter l'administrateur du site ?</a>
                    </h4>
                </div>

                <div id="collapseContactWebmaster" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <p class="text-justify">Rien de plus simple, il suffit de vous rendre sur la page dédiée :
                            <a href="{% url 'staticpages:contact_us' %}"><i class="fa fa-envelope-o"></i> Nous contacter</a>.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseGuestBlog">Je souhaiterai vous soumettre un de mes articles/projets en guest-blogging. Comment faire ?</a>
                    </h4>
                </div>

                <div id="collapseGuestBlog" class="panel-collapse collapse">
                    <div class="panel-body">

                        <p class="text-justify">C'est très gentil de votre part et nous vous en remercions, cependant,
                            nous n'acceptons pas le guest blogging (aka "articles invités"), pas pour le moment en tout cas.</p>

                        <p class="text-justify">Le site Carnet du Maker est un site mi-communautaire, mi-professionnel.
                            Ce n'est pas un site de presse, mais ce n'est pas non plus un simple blog personnel.
                            C'est quelque chose entre les deux. Pour faire simple, c'est compliqué.</p>

                        <p class="text-justify">Gérer les droits d'auteur des différents articles invités, la relecture avant publication,
                            les diverses corrections pour que tous les articles soient uniformes, etc.
                            Tout cela demande beaucoup de temps, beaucoup trop de temps. Si vous souhaitez publier votre article/projet sans pour autant ouvrir un blog personnel
                            (ce qui est parfaitement compréhensible), sachez que vous êtes le bienvenue sur <a href="{% url 'forum:index' %}">le forum</a>.</p>

                        <p class="text-justify">Pour les personnes souhaitant par la suite publier d'autres articles/projets,
                            je ne pourrai que leur conseiller d'ouvrir un blog personnel (sur <a href="https://wordpress.com/">wordpress.com</a> par exemple).
                            Gérer un blog n'est pas de tout repos mais c'est une aventure fabuleuse.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseWebsiteBug">Il arrive par moment que le site soit inacessible ou que des bugs surviennent, est-ce normal ?</a>
                    </h4>
                </div>

                <div id="collapseWebsiteBug" class="panel-collapse collapse">
                    <div class="panel-body">

                        <p class="text-justify">Non ce n'est pas normal, mais même avec toute la bonne volonté du monde, il arrive parfois qu'un bug passe inaperçu lors des tests
                            ou qu'un probléme matériel entraine le crash d'un serveur. Cela fait partie des joies de l'informatique.</p>

                        <p class="text-justify">Si un tel cas se produit, je vous conseille d'ouvrir un ticket sur le <a href="{% url 'bugtracker:index' %}"><i class="fa fa-bug"></i> gestionnaire de bug</a>
                            ou de <a href="{% url 'staticpages:contact_us' %}"><i class="fa fa-envelope-o"></i> nous contacter</a> directement en cas d'inacessibilité prolongée du site.</p>

                        <p class="text-justify">N.B. Pensez à surveiller les réseaux sociaux, en particulier <a href="https://twitter.com/carnetdumaker">Twitter</a>,
                            pour avoir des informations en temps réel en cas de probléme serveur ou de maintenance.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseWhySoLong">Pourquoi a-t-il fallu attendre un an et demi pour entrevoir une premiére version "finale" du site,
                            au lieu des 6 mois prévus à l'origine ?</a>
                    </h4>
                </div>

                <div id="collapseWhySoLong" class="panel-collapse collapse">
                    <div class="panel-body">

                        <p class="text-justify">Question piége, la parole passe à l'administrateur du site.</p>

                        <p class="text-justify">La vérité, c'est que j'avais tout simplement sous estimé la charge de travail annexe, à côté du dévelopement du site.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseCanVisitLab">Peut-on visiter l'atelier du TamiaLab ?</a>
                    </h4>
                </div>

                <div id="collapseCanVisitLab" class="panel-collapse collapse">
                    <div class="panel-body">

                        <p class="text-justify">Malheureusement non, l'atelier n'est pas ouvert au public, car bien trop dangereux pour quiconque oserait s'y aventurer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}