{% extends "staticpages/base_staticpages.html" %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{% url 'staticpages:legal_notices' %}">Mentions légales</a></li>{% endblock %}

{% block title %}Mentions légales | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Legal notices -->
    <div class="col-md-12">

        <h1>Mentions légales</h1>

        <p class="text-justify">Ce site est soumis au régime juridique français.
            À ce titre, il est soumis aux dispositions décrites dans la loi pour la confiance dans l’économie numérique du 12 juin 2004.</p>


        <h2>Éditeur</h2>

        <p><strong>Carnet Du Maker</strong> est un site web édité par la micro-entreprise <strong>TamiaLab</strong>.</p>

        <p>Micro entreprise TamiaLab (<a href="http://www.tamialab.fr/">www.tamialab.fr</a>)</p>
        <address>Siége social :<br>
            Entreprise TamiaLab<br>
            12 RUE CROIX BARBE<br>
            63430 PONT-DU-CHÂTEAU<br>
            France</address>

        <p>SIRET : 811 489 376 00012<br>
        R.C.S : 811 489 376, CLERMONT-FERRAND</p>

        <p>Directeur de la publication : Fabien Batteix &lt;fabien.batteix [@] carnetdumaker.net&gt;</p>
        <p>Directeurs de la rédaction : Fabien Batteix &lt;fabien.batteix [@] carnetdumaker.net&gt;</p>
        <p>Administrateur du site et des données : Fabien Batteix &lt;fabien.batteix [@] carnetdumaker.net&gt;</p>


        <h2>Hébergeur</h2>

        <p class="text-justify">Ce site est hébergé sur les serveurs de la société <a href="https://www.online.net/fr/document-legal/mentions-legales">Online.net</a>.</p>
        <address>ONLINE SAS, filiale du groupe Iliad<br>
            Siége social :<br>
            ONLINE SAS BP 438<br>
            75366 PARIS CEDEX 08</address>


        <h2>Propriété intellectuelle</h2>

        <p class="text-justify">Sauf mention contraire, tous les éléments du site (textes, images, codes sources, etc.), exception faite des contenus publiés sur le forum,
            sont la propriété exclusive de TamiaLab.
            Toute reproduction totale ou partielle, sans autorisation préalable de l'auteur et de TamiaLab, sera succeptible d'entrainer des poursuites judiciaires.</p>

        <p class="text-justify">Remarque : Les codes sources présents sur le site sont la plupart du temps publiés sous <a href="http://www.gnu.org/licenses/gpl-3.0.fr.html">licence GPLv3</a>.</p>


        <h2>Informations personnelles collectées par le site</h2>

        <p class="text-justify">Si vous vous enregistrez sur le site, il vous sera demandé un nom d’utilisateur, une adresse email, et un mot de passe (ne communiquez ce dernier à personne).</p>
        <p class="text-justify">Le site ne collecte pas d’autres données personnelles, exceptées celles naturellement collectées par notre serveur web (telle que votre adresse IP),
            ainsi que d’autres données de navigation à caractère non personnel : horodatage, nature et version de votre navigateur web et de votre système d’exploitation, pages visitées sur le site web.</p>

        <p class="text-justify">Toutes les données personnelles additionnelles affichées sur la page "Mon profil" (nom, prénom, biographie, etc.) sont optionnelles et leurs saisies sont laissées à la seule volonté de l'utilisateur.</p>


        <h2>Nous contacter</h2>

        <p class="text-justify">Pour toute question ou probléme avec le site, vous pouvez nous contacter à l'adresse suivante : contact [@] carnetdumaker.net</p>
        <p class="text-justify">Si vous êtes inscrit sur le site, vous pouvez contacter l'équipe du site via le systéme de messagerie interne pour une réponse plus rapide.</p>


        <h2>Informations techniques</h2>

        <p class="text-justify">Le code source du site est écrit en <a href="https://www.python.org/">Python 3</a> et utilise le framework <a href="https://www.djangoproject.com/">Django</a>.</p>
        <p class="text-justify">Le code source du site est disponible sur <a href="https://github.com/TamiaLab/carnetdumaker">le GitHub du TamiaLab</a>, sous licence <a href="http://www.gnu.org/licenses/agpl-3.0.fr.html">AGPLv3</a>.</p>

        <p>Le stack logiciel du site est basé sur un (classique) trio <a href="http://wiki.nginx.org/NginxFr">Nginx</a>, <a href="http://gunicorn.org/">Gunicorn</a>, <a href="http://supervisord.org/">Supervisord</a>,
            avec une pinçée de <a href="http://memcached.org/">Memcached</a> pour le cache côté serveur et un nuage de <a href="http://www.postgresqlfr.org/">Postgresql</a> pour les bases de données.
            Le moteur de recherche du site est basé sur <a href="http://haystacksearch.org/">HayStack</a>, avec <a href="https://www.elastic.co/products/elasticsearch">ElasticSearch</a> comme moteur d'indéxation.
            Le tout vous est servi sur un plateau par un serveur <a href="https://www.debian.org/">GNU/Debian</a>, customizé à la sauce TamiaLab.</p>

        <p>Les noms de domaine sont fournis par <a href="https://www.ovh.com/fr/">OVH</a>. Le certificat SSL servant à sécuriser vos communications avec le site est fourni par <a href="https://www.gandi.net/">Gandi.net</a>.</p>

        <p>Le développement du site est réalisé au moyen du fabuleux IDE <a href="https://www.jetbrains.com/pycharm/">PyCharm Pro</a>, avec l'aide de
            <a href="https://www.virtualbox.org/">Virtual Box</a> comme gestionnaire de virtualisation et de
            <a href="https://www.vagrantup.com/">Vagrant</a> comme gestionnaire d'environnements de développement virtualisés.</p>
    </div>
{% endblock %}