{% extends "staticpages/base_staticpages.html" %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{% url 'staticpages:our_commitments' %}">Nos engagements</a></li>{% endblock %}

{% block title %}Nos engagements | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Our commitments -->
    <div class="col-md-12">

        <h1>Nos engagements</h1>

        <p class="text-justify">Quand il s'agit de nos lecteurs, sur le site Carnet du Maker, on ne rigole pas !
            Vous trouverez donc sur cette page la liste de tous nos engagements en matière de rédaction, de partenariats et de plein d'autres choses.</p>


        <h2>Pas de bullshit !</h2>

        <p class="text-justify">C'est un point fondamental dans la façon de penser du site : on écrit ce qu'on pense et on pense ce qu'on écrit.</p>

        <p class="text-justify">Il est impossible d'être juge et parti.
            Dans notre cas, nous avons choisi d'être un site indépendant et ce choix se reflète dans les points énoncés ci-dessous.
            Si quelque chose nous plait, on le dit. Si au contraire quelque chose ne nous plait pas, on le dit aussi.</p>

        <p class="text-justify">Un site fait par des makers, pour des makers, se doit d'être objectif, rigoureux et scientifique.
            La langue de bois marketing n'a pas sa place sur ce site. Ici c'est la technique qui parle et rien d'autre.</p>


        <h2>Pas de publicité !</h2>

        <p class="text-justify">La publicité sur le web telle qu'elle existe actuellement est vouée à disparaître.
            Ce modèle de financement n'est plus viable en l'état et approche de sa dernière heure.
            Entre popup, interstitiel, vidéo en lecture automatique et animation flash, la publicité en ligne est devenue si intrusive
            qu'il est aujourd'hui inenvisageable de parcourir le web sans un bloqueur de publicité !</p>

        <p class="text-justify">C'est un fait, les publicités non intrusives ne sont pas rentables et les publicités rentables sont intrusives.
            De plus, dans un domaine technique comme celui des nouvelles technologies, les bloqueurs de publicités sont la norme.</p>

        <p class="text-justify">Face à ce constat, Fabien, l'administrateur du site et savant fou à la tête du TamiaLab a décidé de suivre une voie complètement différente :
            redonner le pouvoir aux lecteurs. Rares sont les administrateurs de sites web à prendre une telle décision.
            S'émanciper des régies publicitaires pour se tourner directement vers les lecteurs est en effet un pari risqué.
            C'est cependant le pari que nous avons pris avec Carnet du Maker.</p>

        <p class="text-justify">Avec des publicités, une seule chose compte : les vues. Qu'importe la qualité du contenu, qu'importe même la véracité du contenu !
            L'important c'est de faire des vues ! Un tweet fait le buzz ? Vite un article ! Une rumeur ? Vite un article !
            La rumeur est finalement fausse ? Vite un article ! Ce phénomène a un nom : le <a href="https://fr.wikipedia.org/wiki/Clickbait">clickbait</a> et
            malheureusement de plus en plus de sites s'y mettent.</p>

        <p class="text-justify">Sur Carnet du Maker, les choses sont radicalement différentes.
            Les lecteurs décident directement de l'avenir du site via les abonnements.
            Le contenu se doit donc d'être de qualité, car le nombre de vues ne fait plus partie de l'équation.
            Ça tombe bien, car au TamiaLab on déteste le travail mal fait ! On préfère la qualité à la quantité et on n’a pas peur de le dire.</p>


        <h2>Quid du publirédactionnel ?</h2>

        <p class="text-justify">Le publirédactionnel, aussi appelé "native advertissing", consiste à faire passer une publicité pour du contenu,
            souvent au mépris des lois interdisant la publicité dissimulée.
            C'est une pratique très à la mode, car impossible à détecter par les bloqueurs de publicités. C'est aussi une pratique parfaitement déloyale pour le lecteur.
            La vie est trop courte pour perdre son temps à lire des publicités se faisant passer pour du contenu !</p>

        <p class="text-justify">Sur Carnet du Maker, le publirédactionnel est "Persona non grata”.
            Vous pouvez lire nos articles l'esprit léger, sans vous demander s’il s'agit ou non d'une publicité. Ce qu'on écrit, on le pense.</p>


        <h2>Quid des partenariats ?</h2>

        <p class="text-justify">Avant toute chose, qu'est-ce qu'un partenariat ?</p>

        <p class="text-justify">Pour faire simple, on va dire qu'il s'agit de tout accord entre la rédaction du site et une entreprise extérieure, contre rétribution, quelle qu'elle soit.</p>

        <p class="text-justify">Si tout le monde est gagnant (lecteurs, rédacteurs et partenaires), nous nous réservons le droit d'accepter des partenariats.</p>

        <p class="text-justify">Dans ce cas, nous nous engageons à respecter plusieurs règles :</p>
        <ul>
            <li><p class="text-justify">Les conditions du partenariat seront clairement détaillées en DÉBUT d'article ou de vidéo.
                Vous serez ainsi libre de choisir si vous souhaitez ou non poursuivre la lecture de l'article / vidéo.</p></li>
            <li><p class="text-justify">Nous ne modifierons aucun contenu dans l'optique de faire disparaître (ou minimiser) des points négatifs ou au contraire dans
                l'optique de mettre en avant des points positifs d'un produit.</p></li>
            <li><p class="text-justify">Nous n'accepterons pas le moindre centime pour faire un test de produit.
                De plus, un produit fourni gracieusement par un partenaire sera testé avec la même rigueur qu'un produit acheté par nos soins.</p></li>
        </ul>

        <p class="text-justify">N.B. Dans le cadre d'un test de produit fourni par un partenaire :</p>
        <ul>
            <li><p class="text-justify">On adore chercher la petite bête, cliquer sur tous les boutons, tenter des cas d'usages peu courants.
                En général on trouve toujours un bug dans un produit / logiciel au cours des tests et on le précisera dans l'article / vidéo. Ça fait partie du jeu.</p></li>
            <li><p class="text-justify">Si un test produit se passe mal, l'article sera quand même publié.
                Faire disparaître un test peu reluisant reviendrait à mentir à nos lecteurs et ça on ne le permet pas.</p></li>
            <li><p class="text-justify">Les partenaires découvriront l'article / vidéo en même temps que les lecteurs.
                On ne permet pas de “vérification avant publication”. On corrigera cependant toute erreur de notre part (nul n'est parfait) dans les plus brefs délais.</p></li>
            <li><p class="text-justify">Si une comparaison avec un produit concurrent est possible, elle sera faite.</p></li>
        </ul>

        <p class="text-justify">Quelques remarques importantes :</p>
        <ul>
            <li><p class="text-justify">Nous n'avons pas vraiment d'agenda de publication. Nous rédigeons les articles / vidéos au jour le jour en fonction de nos capacités.</p></li>
            <li><p class="text-justify">Maker oblige, on adore démonter les choses qu'on nous envoie pour jeter un coup d'oeil à l'intérieur et comprendre le fonctionnement interne.</p></li>
        </ul>


        <h2>Placement de produits</h2>

        <p class="text-justify">Sur Carnet du Maker, nous ne faisons pas de placement de produits.
            La logique derrière ce choix est la même que pour le publirédactionnel.
            Si on écrit quelque chose sur un produit, c'est qu'on le pense.</p>

        <p class="text-justify">Ainsi, si on met la main sur un produit qui nous plait et qui s'avère utile dans le contexte d'un article,
            on l'utilisera autant de fois que nécessaire. On fera même des tutoriels à son sujet si cela nous semble intéressant pour nos lecteurs.
            Dans tous les cas, cela se fera de notre propre initiative et sans contreparties.</p>
    </div>
{% endblock %}