{% extends "staticpages/base_staticpages.html" %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{% url 'staticpages:why_this_site' %}">Pourquoi ce site ?</a></li>{% endblock %}

{% block title %}Pourquoi ce site ? | {{ block.super }}{% endblock %}

{% block content %}
    <h1>Pourquoi ce site ?</h1>

    <p>Tout d'abord, permettez-moi de me présenter.
        Je m'appelle Fabien Batteix, aussi connu sur le web sous le pseudonyme de « skywodd » (un o, deux d).
        Je suis le fondateur et actuel administrateur / rédacteur en chef du site Carnet du Maker.</p>

    <p>Alors pourquoi ce site ? Pour répondre à cette question, revenons un peu en arrière, il y a quelques années.

    <h2>L'histoire du site Carnet du Maker</h2>

    <p>L'histoire du site Carnet du Maker commence en juin 2011 avec le blog <a href="https://skyduino.wordpress.com/">skyduino.wordpress.com</a>.
        À l'époque, j'ai créé ce blog dans un but bien précis : partager mes expériences et mes connaissances en électronique numérique et en programmation.</p>

    <p>Ancien BAC STI électronique, j'ai fait l’amère expérience lors de mon année de terminal de voir qu'aucune documentation de qualité n'existait en français dans le domaine de l'électronique numérique.
        Une montagne d'information était disponible en langue anglaise, mais rien en langue française. C'était trés frustrant.
        Ayant besoin de ces informations pour mon projet de BAC, j'ai entrepris à l'époque d'améliorer ma lecture de la langue anglaise,
        pour ensuite fouiller le web à la recherche d'informations concernant l’électronique numérique et la programmation embarqué.
        Une fois mon BAC en poche, je me suis posé la question suivante : pourquoi ne pas faire un blog pour partager mes connaissances ?
        C'est ainsi que le blog skyduino est né.</p>

    <p>En 2015, après 4 années sur le web et plus d'un million cinq cent mille (1 500 000 !) pages vues au compteur, le blog skyduino a bien évolué.
        Il y a eu des hauts et des bas, des moments de doutes et surtout des choix à faire pour l'avenir.
        Parmi ces choix, celui de passer au niveau supérieur, de quitter le monde du blogging amateur.
        Le temps était venu d'en finir avec les articles faits sur un coin de table entre deux moments de temps libre.
        Il était temps de voir plus grand et de penser à l'avenir. C'est ainsi que le site Carnet du Maker a vu le jour.</p>

    <p>Le nom a changé, le site a changé, la forme a changé, mais le fond reste le même.
        Comme au premier jour du blog skyduino, la volonté qui a conduit à la création du site Carnet du Maker reste inchangée :
        partager les connaissances dont je dispose avec le plus grand nombre de personnes possible.</p>

    <p>Mes motivations sont simples : partager mes connaissances et vivre de ma passion pour l'électronique numérique.
        Le tout, sans perdre ce petit quelque chose d'amateur, proche du lecteur, qui fait ma marque de fabrique.</p>


    <h2>Concrètement Carnet du Maker c'est quoi ?</h2>

    <p>Carnet du Maker c'est avant tout un site accessible à tous, sur lequel tout un chacun peut s'informer, se former et apprendre à faire des choses par soi même.</p>

    <p>Vous pouvez voir le site Carnet du Maker comme un gigantesque pense-bête sur lequel je note des expériences que j'ai réalisées,
        des projets que j'ai tentés, parfois avec succès, mais aussi parfois sans réel succès notable.
        Le tout agrémenté de petite touches d'humours et d'informations complémentaires pour les plus curieux.</p>

    <p>Sur Carnet du Maker, il y a de tout. Des projets les plus idiots, aux dossiers les plus sérieux, en passant par des cours théoriques et pratiques.
        Cela fait partie de l'esprit du site. Imaginez-vous un savant fou faisant de la R&D dans son garage, au milieu d'une montagne de cartes électroniques et de divers autres gadgets informatique.
        Et bien c'est exactement ce qu'il se passe au TamiaLab, l'entreprise que j'ai fondée pour éditer le site Carnet du Maker.</p>

    <p>Le site Carnet du Maker c'est aussi un pari que je fais concernant l'avenir, celui du « gratuit, payant à la demande ».
        La publicité en ligne n'est plus une solution de financement viable pour les sites web d'aujourd'hui. Les temps changent, les mentalités aussi.
        Une alternative aux publicités doit être trouvée, c'est l'avenir même du web gratuit qui se joue aujourd'hui.
        Un site peut-il vivre exclusivement grâce à ses lecteurs, et ainsi, devenir indépendant de toutes formes de corruptions extérieures ? Je pense que oui.</p>


    <h2>Pour conclure</h2>

    <p>Inscrivez-vous sur le site, partagez vos projets, vos idées et vos questions sur le forum, profitez des articles, des projets et si cela vous plaît, soutenez le site.
        Il y a de la place pour tout le monde, se serait bête de se priver.</p>

{% endblock %}