{% extends "home/base_home.html" %}
{% load tools accounts announcements %}

{% block content %}
    <h1 class="text-center">Bienvenue sur le site Carnet du Maker !</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3><i class="fa fa-rocket"></i> L'électronique et l'informatique pour tous, mais pas que !</h3>
                <p>Carnet du Maker est un site de partage et d'échange de connaissances gravitant autours des sujets liés au "Do It Yourself", avec comme spécialité l'informatique et l'électronique.
                    Tutoriels pratiques, cours théoriques, tests, dossiers, projets sérieux et projets beaucoup moins sérieux, sur Carnet du Maker il y a des articles pour tout les gouts !
                    Il y a aussi des articles pour tout les niveaux, du parfait débutant aux experts confirmés. Et si vous avez besoin d'un coup de mains pour un projet, le forum et la communauté sont là pour vous aider.
                </p>
            </div>

            <div class="col-md-4">
            	<h3><i class="fa fa-heart"></i> Le site fait par des makers pour des makers</h3>
                <p>
                    Carnet du Maker est un site qui se veut proche de ses lecteurs.
                    Attendez vous à trouvez de subtiles touches d'humours, des projets parfois complétement loufouques et un style d'écriture qui ne laisse personne sur le bord de la route, même quand les choses deviennent techniques.
                    Ici on apprend en s'amusant, tout en restant sérieux quand il le faut.
                </p>
            </div>

            <div class="col-md-4">
            	<h3><i class="fa fa-diamond"></i> Pas de publicité ou de publirédactionnel</h3>
                <p>
                    Le site Carnet du Maker est un ovni dans le grand ciel du web. Pourquoi ? Tout simplement parce que nous avons fait le choix de privilégier nos lecteurs plutot que notre compte en banque.
                    Ici, pas de publicité ou de plubirédactionnel, que du contenu de qualité accessible à tous !
                    Et si un projet est d'une quelconque façon soutenu par un tier, on vous le dit dés les premiéres lignes.
                    Le site Carnet du Maker fonctionne sur un modéle "gratuit, payant à la demande". Pour faire simple, la grande majorité du site est gratuit et accessible à tous.
                    Si vous voulez soutenir le site c'est vous qui décidez, en contreparti de votre soutient, on vous donne accès à plein de fonctionnalités avancées et à certains articles en avant-premiére.
                    Ce n'est pas le nombres de vues ou une quelconque régie publicitaire qui fait la loi sur ce site, c'est vous !
                </p>
            </div>
        </div>
    </div>

    <hr>
    {# TODO ajout module recherche #}

    {# TODO ajout blog #}

    {# TODO ajout forum #}

    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2><i class="fa fa-commenting"></i> En direct du site</h2>

                <h3>Les dernières annonces et actualités</h3>
                {% recent_announcements_list as recent_announcements %}
                <ul>{% for announcement in recent_announcements %}
                    <li><a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a> - par {{ announcement.author|user_profile_link }}, le {{ announcement.pub_date|datetime_html }}</li>
                {% endfor %}</ul>
            </div>

            <div class="col-md-6">
                <h2><i class="fa fa-users"></i> En direct de la communauté</h2>

                <h3>Les derniers utilisateurs inscrits</h3>
                {% get_latest_created_user_accounts as latest_created_user_accounts %}
                <ul class="list-inline">{% for user_account in latest_created_user_accounts %}
                    <li>{{ user_account.user|user_profile_link }}</li>
                {% endfor %}</ul>

            	<h3>Les derniers profils utilisateurs mis à jour</h3>
                {% get_latest_modified_user_accounts as latest_modified_user_accounts %}
                <ul class="list-inline">{% for user_account in latest_modified_user_accounts %}
                    <li>{{ user_account.user|user_profile_link }}</li>
                {% endfor %}</ul>

                <h3>Les derniers utilisateurs actifs</h3>
                {% get_latest_online_user_accounts as latest_online_user_accounts %}
                <ul class="list-inline">{% for user_account in latest_online_user_accounts %}
                    <li>{{ user_account.user|user_profile_link }}</li>
                {% endfor %}</ul>
            </div>
        </div>
    </div>

{% endblock %}