{% load accounts tools %}
{% for announcement in announcements %}
    <div class="panel panel-{{ announcement.type }}">
        <div class="panel-heading">
            <h1 class="panel-title"><i class="fa fa-bullhorn"></i> <a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a></h1>
        </div>

        <div class="panel-body">
            {{ announcement.content_html|safe }}

            <!-- Staff links -->
            {% if user.is_staff %}
                <p class="text-right"><a href="{% url 'admin:announcements_announcement_change' announcement.pk %}"><i class="fa fa-terminal"></i> Modifier l'annonce dans l'interface d'administration</a></p>
            {% endif %}
        </div>

        <div class="panel-footer">
            <p><i class="fa fa-user"></i> par {{ announcement.author|user_profile_link }} | <i class="fa fa-calendar"></i> {{ announcement.pub_date|datetime_html }}
                {% with announcement_tags=announcement.tags.all %}
                    {% if announcement_tags %}
                        | <i class="fa fa-tags"></i> Mots clefs :{% for tag in announcement_tags %} <a href="{{ tag.get_absolute_url }}"><span class="label label-info">{{ tag.name }}</span></a> {% endfor %}
                    {% endif %}
                {% endwith %}
            </p>
        </div>
    </div>
{% empty %}
    <p class="text-center">Aucune annonce à afficher <i class="fa fa-frown-o"></i></p>
{% endfor %}