{% extends "announcements/base_announcements.html" %}

{% block title %}Liste des annonces | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Announcements list -->
    <div class="col-md-12">

        <h1>Liste des annonces</h1>
        <p><a href="{% url "announcements:latest_announcements_rss" %}"><i class="fa fa-rss"></i> Flux RSS des annonces récentes</a> (<a href="{% url "announcements:latest_announcements_atom" %}"><i class="fa fa-rss"></i> Flux Atom</a>)</p>

        <!-- Staff links -->
        {% if user.is_staff %}
            <p><a href="{% url 'admin:announcements_announcement_add' %}" class="btn btn-primary" role="button"><i class="fa fa-terminal"></i> Ecrire une nouvelle annonce</a></p>
        {% endif %}

        <!-- Announcements -->
        {% include "announcements/announcements.html" %}
    </div>

    {% include "paginator/pagination.html" %}
{% endblock %}