{% extends "announcements/base_tag.html" %}
{% load accounts tools %}

{% block feeds %}
    <link rel="alternate" type="application/rss+xml" title="Annonces liés au tag {{ tag.name }} (flux RSS)" href="{{ tag.get_latest_announcements_rss_feed_url }}">
    <link rel="alternate" type="application/atom+xml" title="Annonces liés au tag {{ tag.name }} (flux Atom)" href="{{ tag.get_latest_announcements_atom_feed_url }}">
{% endblock %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{{ tag.get_absolute_url }}">Mot clef "{{ tag.name }}"</a></li>{% endblock %}

{% block title %}Mot clef "{{ tag.name }}" | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Tags detail -->
    <div class="col-md-12">

        <h1>Annonces portant le mot clef "{{ tag.name }}"</h1>
        <p><a href="{{ tag.get_latest_announcements_rss_feed_url }}"><i class="fa fa-rss"></i> Flux RSS des articles liés</a> (<a href="{{ tag.get_latest_announcements_atom_feed_url }}"><i class="fa fa-rss"></i> Flux Atom</a>)</p>

        <!-- Staff links -->
        {% if user.is_staff %}
            <p><a href="{% url 'admin:announcements_announcementtag_change' tag.pk %}"><i class="fa fa-terminal"></i> Modifier le tag dans l'interface d'administration</a></p>
        {% endif %}

        <!-- Related announcements -->
        {% include "announcements/announcements.html" with announcements=related_announcements %}
    </div>

    {% include "paginator/pagination.html" %}
{% endblock %}