# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Distutils
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts
pyvenv.cfg

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk

# PyCharm IDE
.idea/
*.ipr
*.iws

# Vagrant
.vagrant/

# Sonarcube
.sonar/