<!DOCTYPE html>
<html>
    <head lang="fr">
        <meta charset="UTF-8">
        <title>Confirmation d'inscription | {{ site_name }}</title>
    </head>
    <body>
        <p>Bonjour {{ user.username }},</p>

        <p>Une demande d'inscription sur {{ site_name }} a été effectuée via votre adresse mail {{ email }}.</p>

        <p>Si vous êtes à l'origine de cette demande, merci de cliquer sur le lien ci-dessous pour finaliser votre inscription :</p>
        <a href="{{ protocol }}://{{ domain }}{% url 'registration:registration_activate' uidb64=uid activation_key=activation_key %}">Activer mon compte {{ site_name }}</a>

        <p>Attention : le lien ci-dessus n'est valable que pendant {{ activation_timeout_days }} jours.</p>

        <p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez tout simplement ignorer ce mail.</p>
        <p>Votre adresse mail sera supprimée de nos bases de données d'ici {{ activation_timeout_days }} jours si vous n'activez pas votre compte.</p>

        <p>Cordialement,</p>
        <p>L'équipe de {{ site_name }}</p>

        {% include "email_legal_footer.html" %}
    </body>
</html>