{% extends "registration/base_password_reset.html" %}
{% load bootstrapform %}

{% block content %}
    <h1>Demande de réinitialisation de mot de passe</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" action="{% url 'auth:password_reset' %}">
                {% csrf_token %}
                {{ form|bootstrapform }}
                <input type="submit" class="btn btn-primary center-block" value="Réinitialiser mon mot de passe" />
            </form>
        </div>
    </div>
{% endblock %}