{% extends "registration/base_password_reset.html" %}
{% load bootstrapform %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="#">Modification du mot de passe</a></li>{% endblock %}

{% block content %}

    <!-- Password change -->
    <div class="col-md-12">

        <h1>Modification du mot de passe</h1>

        <!-- Password change form or error message -->
        {% if validlink %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form|bootstrapform }}
                        <input type="submit" class="btn btn-primary center-block" value="Réinitialiser mon mot de passe" />
                    </form>
                </div>
            </div>
        {% else %}
            <p class="error">Lien de réinitialisation de mot de passe invalide ou périmé !</p>
            <p>Veuillez vérifer que le lien est correct (erreur de copier coller par exemple), ou à défaut, faite une nouvelle demande de réinitialisation de mot de passe.</p>

            <!-- Extra links -->
            <p><a href="{% url 'auth:password_reset' %}">Cliquez ici pour revenir sur la page de demande de réinitilisation de mot de passe.</a></p>
            <p><a href="{% url 'home:index' %}">Cliquez ici pour revenir sur la page d'accueil du site.</a></p>
        {% endif %}
    </div>
{% endblock %}