{% extends "registration/base_password_reset.html" %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{% url 'auth:password_reset_done' %}">Demande de réinitialisation enregistrée</a></li>{% endblock %}

{% block content %}

    <!-- Password reset request saved -->
    <div class="col-md-12">

        <h1>Demande de réinitialisation de mot de passe enregistrée</h1>

        <p>Un mail vous a été envoyé avec un lien permettant de modifier votre mot de passe. Veuillez vérifier votre boite mail.</p>
        <p>Remarque : le mail peut mettre quelques minutes avant d'apparaitre dans votre boite mail.</p>

        <p><a href="{% url 'home:index' %}">Cliquez ici pour revenir sur la page d'accueil du site.</a></p>
    </div>
{% endblock %}