{% extends "registration/base_password_reset.html" %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{% url 'auth:password_reset_complete' %}">Changement de mot de passe réussi</a></li>{% endblock %}

{% block content %}

    <!-- Password change done -->
    <div class="col-md-12">

        <h1>Changement de mot de passe réussi !</h1>
        <p>Votre nouveau mot de passe a été enregistré. Vous pouvez désormais vous connecter sur le site avec celui-ci.</p>

        <p><a href="{% url 'auth:login' %}">Cliquez ici pour connecter.</a></p>
    </div>
{% endblock %}