{% extends "registration/base_registration.html" %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{% url 'registration:registration_done' %}">Inscription enregistrée</a></li>{% endblock %}

{% block content %}

    <!-- Registration done -->
    <div class="col-md-12">

        <h1>Inscription enregistrée</h1>

        <p>Un mail vous a été envoyé avec un lien permettant d'activer votre compte. Veuillez vérifier votre boîte mail.</p>
        <p>Vous ne pouvez pas vous connecter tant que votre compte n'est pas activé.</p>
        <p>Remarque : le mail peut mettre quelques minutes avant d'apparaître dans votre boîte mail. Pensez aussi à vérifer votre dossier spam.</p>

        <p><a href="{% url 'home:index' %}">Cliquez ici pour revenir sur la page d'accueil du site.</a></p>
    </div>
{% endblock %}