{% extends "registration/base_registration.html" %}
{% load bootstrapform %}

{% block content %}

    <!-- Registration page -->
    <div class="col-md-12">

        <h1>Inscription</h1>

        <!-- Registration error message -->
        {% if save_failed %}
            <p class="error">Une erreur s'est produite lors de l'enregistrement du formulaire. Veuillez réessayer d'envoyer le formulaire.</p>
        {% endif %}

        <!-- Registration form panel -->
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" action="{% url 'registration:registration_register' %}">
                    {% csrf_token %}
                    {{ form|bootstrapform }}
                    <input type="submit"  class="btn btn-primary center-block" value="Inscription" />
                </form>
            </div>
        </div>

        <hr>

        <!-- Extra links -->
        <p><i class="fa fa-info-circle"></i> Vous avez déja un compte ? <a href="{% url 'auth:login' %}">Cliquez ici pour vous connecter</a>.</p>
        <p><i class="fa fa-info-circle"></i> Vous avez oublié votre mot de passe ? <a href="{% url 'auth:password_reset' %}">Cliquez ici pour le réinitialiser</a>.</p>
    </div>
{% endblock %}