{% extends "accounts/base_accounts.html" %}
{% load accounts tools %}

{% block title %}Liste des membres | {{ block.super }}{% endblock %}

{% block content %}
    <h1>Liste des membres</h1>

    <table class="table table-striped table-condensed table-responsive">
        <thead>
        <tr>
            <th>Utilisateur</th>
            <th>Date d'inscription</th>
            <th>Date de derniére connexion</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.user|user_profile_link }}
                    {% if account.user.is_staff %}&nbsp;<span class="label label-primary"><i class="fa fa-life-ring" title="Membre du staff"></i> Membre du staff</span>{% endif %}
                    {% if account.is_online %}&nbsp;<span class="label label-success"><i class="fa fa-check" title="En ligne"></i> En ligne</span>{% endif %}</td>
                <td>{{ account.user.date_joined|date_html }}</td>
                <td>{% if account.user.last_login %}{{ account.user.last_login|date_html }}{% endif %}</td>
                <td>
                    {% if account.website_url %}<a href="{{ account.website_url }}" title="Site web"><i class="fa fa-globe"></i></a>{% endif %}
                    {% if account.jabber_name %}<a href="{{ account.get_jabber_url }}" title="Jabber"><i class="fa fa-weixin"></i></a>{% endif %}
                    {% if account.skype_name %}<a href="{{ account.get_skype_url }}" title="Skype"><i class="fa fa-skype"></i></a>{% endif %}
                    {% if account.twitter_name %}<a href="{{ account.get_twitter_url }}" title="Twitter"><i class="fa fa-twitter"></i></a>{% endif %}
                    {% if account.facebook_url %}<a href="{{ account.facebook_url }}" title="Facebook"><i class="fa fa-facebook-official"></i></a>{% endif %}
                    {% if account.googleplus_url %}<a href="{{ account.googleplus_url }}" title="Google+"><i class="fa fa-google-plus"></i></a>{% endif %}
                    {% if account.youtube_url %}<a href="{{ account.youtube_url }}" title="Youtube"><i class="fa fa-youtube"></i></a>{% endif %}
                    {% if account.email_public %}<a href="mailto:{{ account.user.email }}" title="Adresse email"><i class="fa fa-at"></i></a>{% endif %}
                    <a href="{% url 'privatemsg:compose_to' recipient=account.user.username %}" title="message privé"><i class="fa fa-envelope"></i></a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-center">Il n'y a aucun utilisateur à afficher <i class="fa fa-frown-o"></i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "paginator/pagination.html" %}
{% endblock %}