{% extends "accounts/base_myaccount.html" %}
{% load bootstrapform %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{% url 'myaccount:password_change' %}">Modification du mot de passe</a></li>{% endblock %}

{% block title %}Modification du mot de passe | {{ block.super }}{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title"><i class="fa fa-key"></i> Modification du mot de passe</h1>
        </div>
        <div class="panel-body">
            <form method="post" action="{% url 'myaccount:password_change' %}">
                {% csrf_token %}
                {{ form|bootstrapform }}
                <input type="submit" class="btn btn-primary center-block" value="Modifier le mot de passe" />
            </form>
        </div>
    </div>

    <p><a href="{% url 'myaccount:index' %}"><i class="fa fa-arrow-left"></i> Retour aux informations du compte</a></p>
{% endblock %}