{% extends "accounts/base_myaccount.html" %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{% url 'myaccount:password_change' %}">Modification du mot de passe réussie !</a></li>{% endblock %}

{% block title %}Modification du mot de passe réussie | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Return link -->
    <div class="col-md-12">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="fa fa-key"></i> Modification du mot de passe réussie !</h1>
            </div>

            <div class="panel-body">
                <p>Votre changement de mot de passe a été pris en compte ! Celui-ci sera effectif à votre prochaine connexion.</p>
                <p>Par mesure de sécurité, toutes vos précédentes sessions ont été invalidées. Si vous étiez connecté sur un autre ordinateur, il faudra vous reconnecter avec votre nouveau mot de passe.</p>
            </div>
        </div>
    </div>

    <!-- Return link -->
    <div class="col-md-12">
        <p><a href="{% url 'myaccount:index' %}"><i class="fa fa-arrow-left"></i> Retour aux informations du compte</a></p>
    </div>
{% endblock %}