/* Back to top button style*/

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}


/* Thumbnail with caption */

.thumbnail.with-caption {
    display: inline-block;
    background: #f5f5f5;
}

.thumbnail.with-caption p {
    margin: 0;
    padding-top: 0.5em;
}


/* SkCode TO.DO list */

.task_done {
    text-decoration: line-through;
    list-style-type: none;
}

.task_done p:before {
    font-family: FontAwesome;
    content:'\f046';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

.task_pending {
    list-style-type: none;
}

.task_pending p:before {
    font-family: FontAwesome;
    content:'\f096';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}


/* Emoticons */

.emoticons img.resize{
    width: 16px;
    height: 16px;
}


/* Circle buttons */

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}


/* Label as badge */

.label-as-badge {
    border-radius: 1em;
}


/* Custom navbar theme */

.navbar-default {
    background-color: #4582ec;
    border-color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #8EB1EF;
}

.navbar-default .navbar-text {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #8EB1EF;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #4582ec;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #8EB1EF;
    background-color: #4582ec;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #4582ec;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #8EB1EF;
    background-color: #4582ec;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #8EB1EF;
    background-color: #4582ec;
}

.navbar-default .navbar-toggle {
    border-color: #4582ec;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #4582ec;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #fff;
}

.navbar-default .navbar-link {
    color: #fff;
}

.navbar-default .navbar-link:hover {
    color: #dbf2ff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #8EB1EF;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #8EB1EF;
        background-color: #4582ec;
    }
}


/* Custom CSS */

.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}
