<!DOCTYPE html>
<html>
    <head lang="fr">
        <meta charset="UTF-8">
        <title>Confirmation de changement d'adresse email | {{ site_name }}</title>
    </head>
    <body>
        <p>Bonjour {{ user.username }},</p>

        <p>Une demande de changement d'adresse email sur {{ site_name }} a été effectuée via votre adresse mail {{ email }}.</p>

        <p>Si vous êtes à l'origine de cette demande, merci de cliquer sur le lien ci-dessous pour finaliser la modification :</p>
        <a href="{{ protocol }}://{{ domain }}{% url 'myaccountmail:email_change_confirm' uidb64=uid token=token addressb64=addressb64 %}">Modifier mon adresse email sur {{ site_name }}</a>

        <p>Attention : le lien ci-dessus n'est valable que pendant {{ confirmation_timeout_days }} jours.</p>

        <p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez tout simplement ignorer ce mail.</p>

        <p>Cordialement,</p>
        <p>L'équipe de {{ site_name }}</p>

        {% include "email_legal_footer.html" %}
    </body>
</html>