{% extends "accounts/base_myaccount.html" %}
{% load bootstrapform %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{% url 'myaccountmail:email_change_done' %}">Demande de modification d'adresse email enregistrée</a></li>{% endblock %}

{% block content %}

    <!-- Email modification registered -->
    <div class="col-md-12">

        <!-- Confirmation message -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="fa fa-envelope"></i> Demande de modification d'adresse email enregistrée</h1>
            </div>

            <div class="panel-body">
                <p>Un mail vous a été envoyé avec un lien permettant de valider la modification de votre adresse email.</p>
                <p>Veuillez vérifier votre boite mail.</p>
                <p>Remarque : le mail peut mettre quelques minutes avant d'apparaitre dans votre boite mail.</p>
            </div>
        </div>

        <!-- Return link -->
        <p><a href="{% url 'myaccount:index' %}"><i class="fa fa-arrow-left"></i> Retour aux informations du compte</a></p>
    </div>
{% endblock %}