{% extends "bugtracker/base_bugtracker.html" %}

{% block title %}Gestionnaire de bug | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Bug tracker index page -->
    <div class="col-md-12">

        <h1 class="text-center">Bienvenue sur le gestionnaire de bugs</h1>

        <p class="text-center">Ce gestionnaire de bugs permet à tout un chacun de rapporter un bug, un défaut du site, une fonctionnalité
        manquante, ou tout simplement d'émettre un souhait d'évolution pour les futures versions du site.</p>

        <p class="text-center">Vous venez de tomber sur un bug ? Vous avez un problème avec le site ?
        Si le problème que vous avez constaté n'a pas déjà été rapporté, n'hésitez pas une seule seconde à ouvrir un ticket.
        Les nouveaux tickets seront lus, classés et traités aussi vite que possible.</p>

        <hr>

        <h3 class="text-center">Je veux …</h3>

        <!-- Bug tracker links -->
        <div class="text-center">
            <p class="btn btn-default"><a href="{% url "bugtracker:issues_list" %}"><i class="fa fa-list"></i> Voir la liste des tickets</a></p>
            <p class="btn btn-default"><a href="{% url "bugtracker:issue_create" %}"><i class="fa fa-plus"></i> Ouvrir un nouveau ticket</a></p>
        </div>
    </div>
{% endblock %}

{% block extra_footer_links %}<li><a href="https://www.youtube.com/watch?v=Dt6iTwVIiMM"><i class="fa fa-lemon-o"></i> DAMN LEMONS</a></li>{% endblock %}
