{% extends "bugtracker/base_issueticket.html" %}
{% load bootstrapform %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{{ issue.get_absolute_url }}">Ticket #{{ issue.id }}</a></li>
    <li><a href="{{ issue.get_edit_url }}">Modifier le ticket</a></li>{% endblock %}

{% block title %}Modifier le ticket | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Edit ticket -->
    <div class="col-md-12">

        <h1>Modifier le ticket</h1>

        <!-- Return link -->
        <p><a href="{{ issue.get_absolute_url }}"><i class="fa fa-arrow-left"></i> Retour au ticket</a></p>

        <!-- Edit form -->
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" action="{{ issue.get_edit_url }}">
                    {% csrf_token %}
                    {{ form|bootstrapform }}
                    <input type="submit" class="btn btn-primary center-block" value="Enregistrer les modifications" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}