{% load accounts tools %}
<div class="row">
    <div class="col-md-12">
        <div class="media">
            <div class="media-body clearfix">

                <!-- Comment author, date and anchor -->
                <h4 class="media-heading">Commentaire de {{ comment.author|user_profile_link }}
                    <small><i><a id="comment-{{ comment.id }}" href="{{ comment.get_absolute_url_simple }}">(le {{ comment.pub_date|date_html }})</a></i></small></h4>

                <!-- Report link -->
                {% if not report_disabled %}<p><a href="{{ comment.get_report_url }}"><i class="fa fa-bullhorn"></i> Signaler ce commentaire</a></p>{% endif %}

                <!-- Related ticket changes -->
                {% with changes=comment.changes.all %}
                    {% if changes %}
                        <p><strong>Modifications effectuées :</strong></p>
                        <ul>
                            {% for change in changes %}
                                <li>{{ change.field_name }} : {% if change.old_value %}{{ change.old_value }}{% else %}non spécifié{% endif %} <i class="fa fa-long-arrow-right"></i> {% if change.new_value %}{{ change.new_value }}{% else %}non spécifié{% endif %}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <!-- Comment body -->
                <blockquote>{{ comment.body_html|safe }}</blockquote>
            </div>
        </div>
    </div>
</div>