{% extends "bugtracker/base_issueticket.html" %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{{ issue.get_absolute_url }}">Ticket #{{ issue.id }}</a></li>
    <li><a href="{{ issue.get_unsubscribe_url }}">Ne plus suivre le ticket</a></li>{% endblock %}

{% block title %}Ne plus suivre le ticket | {{ block.super }}{% endblock %}

{% block content %}
    <h1>Ne plus suivre le ticket</h1>

    <p>Merci de confirmer votre volonté de ne plus suivre le ticket de bug en cliquant sur le bouton ci-dessous.</p>

    <form method="post" action="{{ issue.get_unsubscribe_url }}">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Ne plus suivre le ticket" />
    </form>
{% endblock %}