<p>Un nouveau ticket de bug vient d'être créé !</p>

<p>Ticket <code>#{{ issue.id }}</code> ({{ issue.title }})</p>
<p>Auteur : <a href="{{ protocol }}://{{ domain }}{% url "accounts:user_profile" username=issue.submitter.username  %}">{{ issue.submitter.username }}</a></p>

<p>Aperçu du ticket :</p>
<blockquote>{{ issue.description_html|safe }}</blockquote>

<p><a href="{{ protocol }}://{{ domain }}{{ issue.get_absolute_url }}">Accéder aux détails du ticket.</a></p>
<p><a href="{{ protocol }}://{{ domain }}{% url "bugtracker:myaccount" %}">Ne plus recevoir de notification à chaque nouveau ticket de bug.</a></p>