{% extends "snippets/base_snippets.html" %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{% url 'snippets:bundle_index' %}">Dossiers d'extraits de code</a></li>{% endblock %}

{% block feeds %}
    {# TODO Feeds #}
    <link rel="alternate" type="application/rss+xml" title="Extraits de code récentes (flux RSS)" href="{% url "snippets:latest_snippets_rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Extraits de code récentes (flux Atom)" href="{% url "snippets:latest_snippets_atom" %}">
{% endblock %}