{% extends 'search/base_search.html' %}
{% load bootstrapform i18n %}{% trans "Next page" as NEXT_PAGE %}{% trans "Previous page" as PREVIOUS_PAGE %}

{% block title %}Recherche | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Search page -->
    <div class="col-md-12">

        <h1>Recherche</h1>

        <form method="get" action=".">
            {{ form|bootstrapform }}
            <input type="submit" class="btn btn-primary center-block" value="Go !" />
        </form>

        <hr>
        {% if query %}
            <h2>Résultats de la recherche</h2>

            {% for result in page.object_list %}
                {% if result.content_type == "accounts.userprofile" %}
                    {% include "search/include/accounts/userprofile.html" %}
                {% elif result.content_type == "announcements.announcement" %}
                    {% include "search/include/announcements/announcement.html" %}
                {% elif result.content_type == "blog.article" %}
                    {% include "search/include/blog/article.html" %}
                {% elif result.content_type == "blog.articletag" %}
                    {% include "search/include/blog/articletag.html" %}
                {% elif result.content_type == "blog.articlecategory" %}
                    {% include "search/include/blog/articlecategory.html" %}
                {% elif result.content_type == "bugtracker.issueticket" %}
                    {% include "search/include/bugtracker/issueticket.html" %}
                {% elif result.content_type == "bugtracker.issuecomment" %}
                    {% include "search/include/bugtracker/issuecomment.html" %}
                {% elif result.content_type == "forum.forum" %}
                    {% include "search/include/forum/forum.html" %}
                {% elif result.content_type == "forum.forumthread" %}
                    {% include "search/include/forum/forumthread.html" %}
                {% elif result.content_type == "forum.forumthreadpost" %}
                    {% include "search/include/forum/forumthreadpost.html" %}
                {% elif result.content_type == "imageattachments.imageattachment" %}
                    {% include "search/include/imageattachments/imageattachment.html" %}
                {% elif result.content_type == "licenses.license" %}
                    {% include "search/include/licenses/license.html" %}
                {% elif result.content_type == "snippets.codesnippet" %}
                    {% include "search/include/snippets/codesnippet.html" %}
                {% elif result.content_type == "snippets.codesnippetbundle" %}
                    {% include "search/include/snippets/codesnippetbundle.html" %}
                {% endif %}
            {% empty %}
                <p>Aucun résultat trouvés !</p>
            {% endfor %}

            <nav class="text-center">
                <ul class="pagination">
                    {% if page.has_previous %}
                        {% with previous_page_number=page.previous_page_number %}
                            {% if previous_page_number == 1 %}
                                <li><a href="?q={{ query }}" rel="prev" aria-label="{{ PREVIOUS_PAGE }}"><span aria-hidden="true">&laquo;</span></a></li>
                            {% else %}
                                <li><a href="?q={{ query }}&amp;page={{ previous_page_number }}" rel="prev" aria-label="{{ PREVIOUS_PAGE }}"><span aria-hidden="true">&laquo;</span></a></li>
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        <li class="disabled"><a href="#" aria-label="{{ PREVIOUS_PAGE }}"><span aria-hidden="true">&laquo;</span></a></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        <li {% if page.number == i %}class="active"{% endif %}>{% if i == 1 %}<a href="?q={{ query }}">{% else %}<a href="?page={{ i }}&q={{ query }}">{% endif %}{{ i }}</a></li>
                    {% endfor %}
                    {% if page.has_next %}
                        <li><a href="?q={{ query }}&amp;page={{ page.next_page_number }}" rel="next" aria-label="{{ NEXT_PAGE }}"><span aria-hidden="true">&raquo;</span></a></li>
                    {% else %}
                        <li class="disabled"><a href="#" aria-label="{{ NEXT_PAGE }}"><span aria-hidden="true">&raquo;</span></a></li>
                    {% endif %}
                </ul>
            </nav>

        {% else %}

            <p class="text-center">Entrer votre recherche dans le formulaire ci-dessus et cliquer sur le bouton pour obtenir la réponse à toutes vos questions !</p>
        {% endif %}
    </div>
{% endblock %}