{% extends "blog/base_blog.html" %}
{% load accounts tools %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>{% endblock %}

{% block title %}{{ article.title }} | {{ block.super }}{% endblock %}

{% block opengraph_type %}article{% endblock %}
{% block opengraph_title %}{{ article.title }}{% endblock %}
{% block opengraph_description %}{% if article.description_text %}{{ article.description_text }}{% else %}{{ article.content_text|truncatewords:200 }}{% endif %}{% endblock %}
{% block opengraph_url %}{{ block.super }}{{ article.get_absolute_url }}{% endblock %}
{% block opengraph_image %}{% if article.heading_img %}{{ article.heading_img.url }}{% elif article.thumbnail_img %}{{ article.thumbnail_img.url }}{% endif %}{% endblock %}
{% block twitter_creator %}{% if article.author.user_profile.twitter_name %}@{{ article.author.user_profile.twitter_name }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block extra_opengraph %}
    {% if article.author.user_profile.facebook_url %}
        <meta property="article:author" content="{{ article.author.user_profile.facebook_url }}" />
    {% elif APP.FACEBOOK_URL %}
        <meta property="article:author" content="{{ APP.FACEBOOK_URL }}" />
    {% endif %}
    <meta property="article:published_time" content="{{ article.pub_date|date:"c" }}" />
    <meta property="article:modified_time" content="{{ article.last_content_modification_date|date:"c" }}" />
{% endblock %}

{% block content %}

    <!-- Article detail -->
    <div class="col-md-12">

        <!-- Article title -->
        <h1>{{ article.title }}</h1>
        {% if article.subtitle %}<h2><small>{{ article.subtitle }}</small></h2>{% endif %}

        <!-- Article preview mode warning -->
        {% if article.is_gone %}
            <p class="text-warning"><i class="fa fa-warning"></i> Cet article n'est plus disponible publiquement.</p>
        {% elif not article.is_published %}
            {% if announcement.pub_date %}
                <p class="text-warning"><i class="fa fa-warning"></i> Cet article n'est pas encore en ligne ! La publication est programmée pour le {{ article.pub_date|datetime_html }}</p>
            {% else %}
                <p class="text-warning"><i class="fa fa-warning"></i> Cet article n'est pas en ligne ! Ceci est une simple prévisualisation de l'article.</p>
            {% endif %}
        {% endif %}

        <!-- Article heading image -->
        {% if article.heading_img %}
            <img src="{{ article.heading_img.url }}" alt="Image d'entête" class="img-responsive" />
            <p><!-- Spacer --></p>
        {% endif %}

        <!-- Article information 1/2 -->
        <p><i class="fa fa-user"></i> par {{ article.author|user_profile_link }} |
        <i class="fa fa-calendar"></i> {{ article.pub_date|date_html }} |
        <i class="fa fa-copyright"></i> Licence {% if article.license %}<a href="{{ article.license.get_absolute_url }}">{{ article.license.name }}</a>{% else %}(voir pied de page){% endif %}</p>
        <p><i class="fa fa-folder-open"></i> Catégories :{% for category in article.categories.all %} <a href="{{ category.get_absolute_url }}"><span class="label label-info">{{ category.name }}</span></a>{% endfor %} |
        <i class="fa fa-tags"></i> Tags :{% for tag in article.tags.all %} <a href="{{ tag.get_absolute_url }}"><span class="label label-info">{{ tag.name }}</span></a>{% endfor %}
        {% if article.featured %} | <i class="fa fa-thumb-tack"></i> Article en vedette{% endif %}</p>

        <!-- Article information 2/2 -->
        {% if article.has_been_modified_after_publication %}
            <p><i class="fa fa-pencil-square-o"></i>Cet article a été modifié pour la dernière fois le {{ article.last_content_modification_date|datetime_html }}</p>
        {% endif %}
        {% if article.expiration_date %}
            <p><i class="fa fa-bomb"></i> Cet article s'auto détruira le {{ article.expiration_date|datetime_html }}</p>
        {% endif %}
        {% if article.is_old %}
            <p><i class="fa fa-warning"></i> Cet article n'a pas été mis à jour depuis un certain temps, son contenu n'est peut être plus d'actualité.</p>
        {% endif %}

        <!-- Staff links -->
        {% if user.is_staff %}
            <p><a href="{% url 'admin:blog_article_change' article.pk %}"><i class="fa fa-terminal"></i> Modifier l'article dans l'interface d'administration</a></p>
        {% endif %}

        <!-- Article head notes -->
        {% with head_notes=article.head_notes.all %}
            {% if head_notes %}
                {% include "blog/notes.html" with notes=head_notes %}
            {% endif %}
        {% endwith %}

        <hr>

        <!-- Article description -->
        {% if article.description_html %}
            <p><strong>{{ article.description_html|safe }}</strong></p>
        {% endif %}

        <!-- Article summary (HTML) -->
        {% if article.summary_html %}
            <h3>Sommaire</h3>

            {{ article.summary_html|safe }}

            <p><!-- Spacer --></p>
        {% endif %}

        <!-- Article content -->
        {% if article.require_membership_for_reading %}
            {# TODO Handle membership here #}
            {{ article.content_html|truncatewords_html:200|safe }}
            {# TODO Add message for non-membership here #}
        {% else %}
            {{ article.content_html|safe }}
        {% endif %}

        <!-- Article foot notes -->
        {% with foot_notes=article.foot_notes.all %}
            {% if foot_notes %}
                {% include "blog/notes.html" with notes=foot_notes %}
            {% endif %}
        {% endwith %}

        <!-- Article footnotes (HTML) -->
        {% if article.footnotes_html %}
            <hr>

            {{ article.footnotes_html|safe }}
        {% endif %}

        <!-- Article image attachments (gallery like) -->
        {% with img_attachments=article.img_attachments.all %}
            {% if article.display_img_gallery and img_attachments %}
                <h3>Galerie d'images</h3>
                <div class="col-md-12">
                    {% for image in img_attachments %}
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="thumbnail with-caption">
                                <a href="{{ image.get_absolute_url }}">
                                    <img src="{{ image.img_small.url }}" width="image.img_small_width" height="image.img_small_height" alt="{{ image.title }}" class="center-block" />
                                </a>
                            {% if image.legend or image.license %}<p class="text-center">{{ image.legend }} {% if image.license %}(licence <a href="{{ image.license.get_absolute_url }}">{{ image.license.name }}</a>){% endif %}</p>{% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}

{% block post_content %}

    <!-- Follow-up and related articles -->
    <div class="col-md-12">

        <!-- Forward follow-up -->
        {% with follow_up_articles=article.follow_up_articles.all %}
            {% if follow_up_articles %}
                <div class="col-md-6">
                    <h3>Articles suivants</h3>
                    <ul>
                        {% for next_part in follow_up_articles %}
                            <li><a href="{{ next_part.get_absolute_url }}">{{ next_part.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <!-- Reverse follow-up -->
        {% with follow_up_of=article.follow_up_of.all %}
            {% if follow_up_of %}
                <div class="col-md-6">
                    <h3>Articles précédents</h3>
                    <ul>
                        {% for previous_part in follow_up_of %}
                            <li><a href="{{ previous_part.get_absolute_url }}">{{ previous_part.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <!-- Forward related articles -->
        {% with related_articles=article.related_articles.all %}
            {% if related_articles %}
                <div class="col-md-6">
                    <h3>Articles en relation avec celui-ci</h3>
                    <ul>
                        {% for related_article in related_articles %}
                            <li><a href="{{ related_article.get_absolute_url }}">{{ related_article.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <!-- Reverse related articles -->
        {% with related_articles=article.related_articles_reverse.all %}
            {% if related_articles %}
                <div class="col-md-6">
                    <h3>Articles pouvant vous intéresser</h3>
                    <ul>
                        {% for related_article in related_articles %}
                            <li><a href="{{ related_article.get_absolute_url }}">{{ related_article.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <!-- Forum link -->
    <div class="col-md-12">
        <hr>
        {% if article.related_forum_thread %}
            <p class="text-center"><i class="fa fa-comments"></i> <a href="{{ article.related_forum_thread.get_absolute_url }}">Cliquez ici pour accéder aux commentaires de l'article.</a></p>
        {% else %}
            <p class="text-center"><i class="fa fa-comments"></i> Cet article n'a pas de topic dédié sur le forum pour les commentaires. Rendez vous <a href="{% url "forum:index" %}">sur le forum</a> pour en discuter librement.</p>
        {% endif %}
    </div>
{% endblock %}