{% extends "blog/base_category.html" %}
{% load mptt_tags %}

{% block title %}Liste des catégories | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Category list -->
    <div class="col-md-12">

        <h1>Liste des catégories</h1>

        <!-- Categories -->
        {# TODO Add more style #}
        <ul>{% recursetree categories %}
            <li>
                <a href="{{ node.get_absolute_url }}">{{ node.name|capfirst }}</a><br/>
                <p>{{ node.description_html|safe }}</p>
                {% if not node.is_leaf_node %}
                    <ul>
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}</ul>
    </div>
{% endblock %}