{% extends "blog/base_tag.html" %}

{% block feeds %}
    <link rel="alternate" type="application/rss+xml" title="Articles liés au tag {{ tag.name }} (flux RSS)" href="{{ tag.get_latest_articles_rss_feed_url }}">
    <link rel="alternate" type="application/atom+xml" title="Articles liés au tag {{ tag.name }} (flux Atom)" href="{{ tag.get_latest_articles_atom_feed_url }}">
{% endblock %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{{ tag.get_absolute_url }}">Mot clef "{{ tag.name }}"</a></li>{% endblock %}

{% block title %}Mot clef "{{ tag.name }}" | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Tag detail -->
    <div class="col-md-12">

        <!-- Header -->
        <h1>Article portant le mot clef "{{ tag.name }}"</h1>
        <p><a href="{{ tag.get_latest_articles_rss_feed_url }}"><i class="fa fa-rss"></i> Flux RSS des articles liés</a> (<a href="{{ tag.get_latest_articles_atom_feed_url }}"><i class="fa fa-rss"></i> Flux Atom</a>)</p>

        <!-- Staff links -->
        {% if user.is_staff %}
            <p><a href="{% url 'admin:blog_articletag_change' tag.pk %}"><i class="fa fa-terminal"></i> Modifier le tag dans l'interface d'administration</a></p>
        {% endif %}

        <hr>

        <!-- Related articles -->
        {% include "blog/articles.html" with articles=related_articles %}
    </div>

    {% include "paginator/pagination.html" %}
{% endblock %}