{% extends 'base_error.html' %}

{% block title %}Requête incorrecte | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Incorrect request error -->
    <div class="col-md-12">

        <h1>Requête incorrecte</h1>

        <p>Votre navigateur web nous a transmis une requête incompréhensible. Nous ne pouvons en déterminer la raison.</p>
        <p>Essayez de <a href="">recharger la page</a> ou d'utiliser un autre navigateur.
            Si jamais le problème se produit avec plusieurs navigateurs différents, merci de <a href="{% url 'staticpages:contact_us' %}">contacter l'administrateur du site</a>.</p>

        <p>Merci de votre compréhension.</p>
    </div>
{% endblock %}