{% extends 'base_error.html' %}

{% block title %}Page introuvable | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Page not found error -->
    <div class="col-md-12">

        <h1>Page introuvable</h1>

        <p>La page que vous avez demandée est introuvable.</p>
        <p>Veuillez vérifier que l'URL est correctement saisie et qu'aucune erreur de copier/coller ne soit venue gâcher la fête.</p>
        <p>Si l'URL est correcte, mais que cette page d'erreur continue de s'afficher, il se peut que la page en question n'existe plus.
            Essayez d'utiliser <a href="{% url 'search:haystack_search' %}">le formulaire de recherche</a> pour voir si celle-ci n'a pas été déplacée.</p>

        <p>Merci de votre compréhension.</p>
    </div>
{% endblock %}