{% extends 'base_error.html' %}

{% block title %}Page indisponible | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Internal server error -->
    <div class="col-md-12">

        <h1>Page indisponible</h1>

        <p>La page que vous avez demandée est actuellement indisponible pour diverses raisons techniques inattendues.</p>
        <p>Si vous lisez ces lignes, il y a fort à parier que l'administrateur du site est en train de râler derrière son écran en s'arrachant les cheveux.</p>
        <p>Veuillez essayer de <a href="">recharger la page</a> dans quelques minutes. Nous faisons tout notre possible pour résoudre le problème au plus vite.</p>
        <p>Si jamais ce message continuait à s'afficher, essayez de <a href="http://www.commentcamarche.net/faq/3037-vider-le-cache-du-navigateur">vider le cache de votre navigateur</a>
            ou de jeter un oeil aux <a href="https://twitter.com/carnetdumaker">réseaux sociaux</a> pour vérifier qu'aucune opération de maintenance n'est en cours.</p>

        <p>Merci de votre compréhension.</p>
    </div>
{% endblock %}