<hr>

<p>Micro entreprise TamiaLab (<a href="http://www.tamialab.fr/">www.tamialab.fr</a>)<br>
    <address>Siége social :<br>
    Entreprise TamiaLab<br>
    12 RUE CROIX BARBE<br>
    63430 PONT-DU-CHÂTEAU<br>
    France</address><br>
    SIRET : 811 489 376 00012<br>
    R.C.S : 811 489 376, CLERMONT-FERRAND</p>

<p>Vous recevez ce message car vous vous êtes inscrit sur le site www.carnetdumaker.net.
    Si vous ne souhaitez plus recevoir de message similaire par la suite,
    merci de suivre les instructions fournies dans le corps du mail, ou de contacter l'administrateur du site
    à l'adresse suivante : <a href="mailto:support@carnetdumaker.net">support@carnetdumaker.net</a>.</p>

<p>Conformément à la loi "informatique et libertés" du 6 janvier 1978 modifiée,
    vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent.
    Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant,
    veuillez vous adresser à l'administrateur du site via l'adresse email ci-dessus.</p>
