{% extends "privatemsg/base_msgdetail.html" %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{{ message.get_delete_permanent_url }}">Supprimer définitivement le message</a></li>{% endblock %}

{% block title %}Supprimer définitivement le message | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Delete message permanently -->
    <div class="col-md-12">

        <h1>Supprimer définitivement le message</h1>

        <p>Merci de cliquer sur le bouton ci-dessous pour confirmer cette action.</p>
        <p><strong>Cette action est irréversible.</strong></p>

        <!-- Confirmation form -->
        <form method="post" action="{{ message.get_delete_permanent_url }}">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Supprimer définitivement le message" />
        </form>
    </div>
{% endblock %}