{% extends "privatemsg/base_myaccount.html" %}
{% load bootstrapform %}

{% block title %}Mes préférences de messages privés | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Private messages preferences -->
    <div class="col-md-12">

        <!-- Private messages preferences form panel -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="fa fa-envelope"></i> Mes préférences de messages privés</h1>
            </div>

            <div class="panel-body">
                <form method="post" action="{% url 'privatemsg:myaccount' %}">
                    {% csrf_token %}
                    {{ form|bootstrapform }}
                    <input type="submit" class="btn btn-primary center-block" value="Enregistrer les modifications" />
                </form>
            </div>
        </div>

        <!-- Extra links -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="fa fa-wrench"></i> Options avancées</h1>
            </div>

            <div class="panel-body">
                <p><i class="fa fa-microphone-slash"></i> <a href="{% url 'privatemsg:blocked_users' %}">Voir la liste des utilisateurs bloqués</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}