{% extends "forum/base_myaccount.html" %}
{% load forum accounts %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{% url "forum:mythreads_list" %}">Mes topics</a></li>{% endblock %}

{% block title %}Mes topics | {{ block.super }}{% endblock %}

{% block content %}
    <p><a href="{% url 'bugtracker:myaccount' %}"><i class="fa fa-arrow-left"></i> Retour au préférences</a></p>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title"><i class="fa fa-comments"></i> Mes topics</h1>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed table-responsive">
                <thead>
                <tr>
                    <th></th>
                    <th>Sujet</th>
                    <th>Auteur</th>
                    <th>Date mise à jour</th>
                    <th>Dernier message</th>
                </tr>
                </thead>
                <tbody>
                {% for thread in threads %}
                    <tr>
                        <td>{% if display_read_markers and not thread|has_been_read:read_markers %}<i class="fa fa-asterisk" title="Non lu"></i> {% endif %}
                            {% if thread.sticky or thread.global_sticky %}<i class="fa fa-thumb-tack" title="Epinglé"></i> {% endif %}
                            {% if thread.closed or thread.locked %}<i class="fa fa-lock" title="Verrouillé"></i> {% endif %}
                            {% if thread.resolved %}<i class="fa fa-check" title="Résolu"></i>{% endif %}</td>
                        <td><a href="{{ thread.get_absolute_url }}">{{ thread.title|capfirst }}</a></td>
                        <td>{{ thread.first_post.author|user_profile_link }}</td>
                        <td>{{ thread.first_post.last_content_modification_date|datetime_html }}</td>
                        <td>par {{ thread.last_post.author|user_profile_link }}
                            <a href="{{ thread.last_post.get_absolute_url_simple }}">{{ thread.last_post.last_content_modification_date|datetime_html }}</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">Vous ne suivez aucun topic !</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include "paginator/pagination.html" %}
{% endblock %}