{% extends "forum/base_threaddetail.html" %}
{% load bootstrapform %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{{ thread.get_edit_url }}">Modifier le topic</a></li>{% endblock %}

{% block title %}Modifier le topic | {{ block.super }}{% endblock %}

{% block content %}
    <h1>Modifier le topic</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" action="{{ thread.get_edit_url }}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrapform }}
                <input type="submit" class="btn btn-primary center-block" value="Enregistrer les modifications" />
            </form>
        </div>
    </div>
{% endblock %}