{% extends "forum/base_forumdetail.html" %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{{ forum.get_subscribe_url }}">Suivre le forum</a></li>{% endblock %}

{% block title %}Suivre le forum | {{ block.super }}{% endblock %}

{% block content %}
    <h1>Suivre le forum</h1>

    <p>Merci de confirmer votre volonté de suivre le forum "{{ forum.title }}" en cliquant sur le bouton ci-dessous.</p>

    <form method="post" action="{{ forum.get_subscribe_url }}">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Suivre le forum" />
    </form>
{% endblock %}