{% extends "forum/base_threaddetail.html" %}
{% load bootstrapform forum accounts %}

{% block breadcrumb %}{{ block.super }}
    <li><a href="{{ related_post.get_reply_url }}">Répondre au message</a></li>{% endblock %}

{% block title %}Répondre au message | {{ block.super }}{% endblock %}

{% block content %}

    <!-- Reply to forum thread post -->
    <div class="col-md-12">

        <h1>Répondre au message</h1>

        <!-- Reply form panel -->
        <div class="panel panel-default">
            <div class="panel-body">

                <!-- Anti-flood protection -->
                {% if is_flooding %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="Fermer">&times;</a>
                        <p>Vous devez attendre au moins {{ flood_delay_sec }} secondes entre deux messages.</p>
                    </div>
                {% endif %}

                <!-- Old forum thread warning -->
                {% if thread.is_old %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="Fermer">&times;</a>
                        <p>Attention : Ce topic est relativement ancien.
                            Vous risquez de ne pas avoir de réponse de la part de l'auteur d'origine.
                            Vous devriez envisager d'ouvrir un nouveau topic.</p>
                    </div>
                {% endif %}

                <!-- Reply form -->
                <form method="post" action="{{ related_post.get_reply_url }}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|bootstrapform }}
                    <input type="submit" class="btn btn-primary center-block" value="Répondre au message" />
                </form>
            </div>
        </div>

        <hr>

        <!-- Parent forum post preview -->
        <h2>Message d'origine</h2>
        {% include "forum/post.html" with post=related_post %}
    </div>
{% endblock %}