<p>Une demande de modération pour un message du forum vient d'être effectuée par
    <a href="{{ protocol }}://{{ domain }}{% url "accounts:user_profile" username=reporter.username  %}">{{ reporter.username }}</a>.</p>

<p>La raison donnée est : {% if report.reason %}{{ report.reason }}{% else %}(pas de raison spécifiée){% endif %}</p>
<p>La demande de modération porte sur le post #{{ post.id }} du topic "{{ post.parent_thread.title }}"</p>

<p>Le post problématique (ID {{ post.id }}, écrit par
    <a href="{{ protocol }}://{{ domain }}{% url "accounts:user_profile" username=post.author.username  %}">{{ post.author.username }}</a> le {{ post.pub_date|date }}) est le suivant :</p>

<blockquote>{{ post.content_html|safe }}</blockquote>
